@using _03_ViewBag_ViewData_TempData.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   @*  <h1>@ViewBag.ad</h1>

    <h2>@ViewBag.urun.Id</h2>
    <h2>@ViewBag.urun.Name</h2>
    <h2>@ViewBag.urun.Price</h2> *@


    @* <h1>@ViewData["ad"]</h1> *@
    @* <h1>@TempData["ad"]</h1> *@

    
    <a href="/Home/About">HAKKIMIZDA</a>

</body>
</html>
